.container1 {
  margin-top: 10%;
  height: 500px;
  width: 400px;
  background-image: linear-gradient(#343f36, #e67411);
  top: 50%;
  left: 50%;

  border-radius: 10px;
  transform: translate(-50%, -50%);
  position: absolute;
  margin-bottom: 20%;
}

.main-content {
  height: 235px;
  background-color: #92881b;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 80px;
  border-top: #1e6b30;
}

.text {
  text-align: center;
  font-size: 300%;
  text-decoration: aliceblue;
  color: aliceblue;
}

.course {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

.centre-content {
  height: 120px;
  margin: -70px 30px 20px;
  color: aliceblue;
  text-align: center;
  font-size: 20px;
  border-radius: 25px;
  padding-top: 0.5px;
  background-image: linear-gradient(#0d0f0e, #308d8d);
}

.centre-content-h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: normal;
}

.price {
  margin-top: 15px;
  font-size: 30px;
  margin-left: 5px;
  position: relative;
}
#pay_head {
  font-weight: bold;
  font-size: 15px;
  font-style: italic;
}

.pay-now-btn {
  cursor: pointer;
  color: #fff;
  height: 50px;
  width: 290px;
  border: none;
  margin: 5px 30px;
  background-color: rgb(71, 177, 61);
  position: relative;
}

.card-details {
  border-radius: 10px;
  padding: 10px;
  background: rgb(8, 49, 14);
  color: rgb(225, 223, 233);
  margin: 10px 30px;
  padding: 10px;
  /* border-bottom-left-radius: 80px; */
}

.card-details p {
  font-size: 15px;
}

.card-details label {
  font-size: 15px;
  line-height: 15px;
}

.submit-now-btn {
  cursor: pointer;
  color: #fff;
  height: 30px;
  width: 240px;
  border: none;
  margin: 5px 30px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgb(80, 209, 69);
}
#form_label {
  margin-right: 40px;
}
#payMsg {
  color: white;
  text-align: center;
}
.submit-now-btn:hover {
  background-color: rgb(16, 108, 8);
}
