#card:hover {
  /*   border: 3px solid rgb(151, 219, 224);
 */
  box-shadow: 5px 2px 20px 5px #5b5b5b;
}
/* #card {
  width: fit-content;
  height: fit-content;
} */
div[id^="card"] {
  color: #f00;
  width: fit-content;
  height: fit-content;
  /* and so on... */
}
#movieImg {
  height: 300px;
  object-fit: fill;
}

@media only screen and (max-width: 900px) {
  #modal {
    position: "absolute";
    top: "50%";
    left: "50%";
    width: 700px;
  }
  #details {
    max-width: 600px;
    display: "flex";
    padding: "5px";
    align-items: "center";
  }
}
@media only screen and (max-width: 600px) {
  #modal {
    position: "absolute";
    top: "50%";
    left: "50%";
    width: 400px;
  }
  #details {
    max-width: 300px;
    display: "flex";
    padding: "5px";
    align-items: "center";
  }
  .detailImage {
    display: none;
  }
}
