#carousalImg {
  object-fit: fill;
  width: 100%;
  height: 100%;
  max-width: 100%;
  cursor: pointer;
}
#carousel {
  background-color: rgb(26, 24, 24);
  padding: 10px;
  margin-top: 10px;
}
#cardItem {
  box-shadow: 10px 10px 15px rgba(176, 174, 174, 0.985);
}
#userName1 {
  position: absolute;
  position: fixed;
  font-weight: bold;
  right: 0px;
  margin-top: -9%;
  margin-right: 100px;
  color: white;
}
@media only screen and (max-width: 1200px) {
  #userName1 {
    margin-top: -10%;
  }
}
@media only screen and (max-width: 1020px) {
  #userName1 {
    margin-top: -13%;
  }
}
@media only screen and (max-width: 800px) {
  #userName1 {
    margin-top: -17%;
  }
}
@media only screen and (max-width: 550px) {
  #userName1 {
    margin-top: -22%;
  }
}
@media only screen and (max-width: 480px) {
  #userName1 {
    margin-top: -25%;
    font-size: smaller;
  }
}
