#dates {
  margin-top: 10px;
}
#dateButton:hover {
  background-color: rgb(3, 3, 118);
}
#dateBar {
  background-color: rgb(122, 120, 120);
}
#theaterList {
  margin-top: 20px;
  display: block;
  justify-content: space-between;
}
#timeButton:hover {
  background-color: aquamarine;
}
#theaterList {
  margin-left: 20px;
}
